<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.agaf.locerylalarm" >

    <supports-screens
        android:resizeable="true" />
    <uses-sdk
        android:minSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="false">
        <activity
            android:name="br.com.agaf.locerylalarm.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.agaf.locerylalarm.FromNotificationActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="br.com.agaf.locerylalarm.WorksActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <service android:name="br.com.agaf.locerylalarm.NotificationService"/>
    </application>

</manifest>
